    <!-- <form method = "" class="d-flex" role="search">
        <input class="form-control me-4"  name = "url" type="search"  placeholder="Enter URL" aria-label="Search">
        <input type="submit" value="Crawl" class="btn btn-outline-secondary col">
    </form> -->
    <!-- <div class="data-container">
        {{if .URL}}
        <h1>Visiting {{.URL}}</h1>

        {{if .Images}}
        <div class="images-container">
            <h2>showing images</h2>
            {{range .Images}}
            <img src="{{.}}" alt="no_image">
            {{end}}
        </div>
        {{end}}
        {{end}}
    </div> -->